################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApp/bin
/TestApp/obj/Release/Package/PackageTmp/bin
.sonarqube
.vs
